/* src/styles/Chad.css */
.chad-container {
    padding: 5px;
    background-color: #1e1e1e;
    border-radius: 10px;
    width: 100%; /* Changed to 100% for better responsiveness */
    max-width: 800px; /* Set a max-width for large screens */
    margin: 0 auto; /* Centers the container */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    overflow: hidden;
}
  
.chad-container h1 {
    color: #007bff;
    margin-bottom: 10px;
}
  
.chad-container p {
    margin: -5px 0; /* Reduced margin for less vertical spacing */
    padding: 1px 0; /* Reduced padding for less vertical spacing */
    background-color: #2e2e2e;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-weight: 600;
}
  
.chad-container p span.label {
    color: #007bff; /* Blue color for the text before ":" */
    text-align: left;
}
  
.chad-container p span.value {
    color: #ffffff; /* White color for the text after ":" */
}
  
.chad-container ul {
    list-style: none;
    text-align: left;
    width: 100%;
}
  
.chad-container li {
    margin: 10px 5px;
    padding: 10px;
    background-color: #2e2e2e;
    border-radius: 5px;
    color: #ffffff;
}
  
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    padding-bottom: 5px;
}
  
.pagination button {
    margin: 5px 5px;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-family: 'MyFont';

}
  
.pagination button:disabled {
    background-color: #666;
    cursor: not-allowed;
}
  
@media (max-width: 768px) {
    .chad-container {
        width: 90%; /* Adjust width for smaller screens */
    }
  
    .chad-container p {
        font-size: 13px;
    }
  
    .pagination button {
        padding: 5px 8px; /* Smaller buttons for mobile */
    }
}
