/* src/styles/LandingPage.css */

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px); /* Adjust based on Navbar height */
  text-align: center;
  /* Animated Gradient Background */
  background-color: #001543;
  background-size: 25% 25%;
  overflow: hidden; /* Prevent scrollbars from gradient */
}

.landing-header {
   
}

.play-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  font-family: inherit;
  margin: 5px;
}

.play-button:hover {
  background-color: #00ff41;
  color: #031a03;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 255, 65, 0.7);
}


