/* src/styles/MarketCapProgress.css */

.gems-container3 {
    width: 100%;
    min-height: 400px;
    margin: 0 auto;
    background-color: #222;
    border-radius: 20px;
    padding: 20px;
    color: white;
    overflow: hidden;
    text-align: center;
    border: 1px solid #007bff; /* Blue border to match theme */
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5); /* Subtle shadow */
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
}

.header {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #007bff;
}

.progress-bar-container {
    position: relative;
    height: 20px;
    background-color: #007bff; /* Light gray background for the bar */
    border-radius: 10px;
    margin-bottom: 100px;
}

.progress-bar {
    height: 100%;
    background-color: #ff00c8bd; /* Green fill color */
    transition: width 0.5s ease; /* Smooth animation when width changes */
}

.progress-fill {
    height: 100%;
    background-color: #007bff;
    border-radius: 15px 0 0 15px;
    transition: width 0.5s ease-in-out;
}


.milestone {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    transform: translateX(-50%);
}

.milestone-icon {
    width: 40px;
    height: 40px;
    transform: translateY(-25%); /* Center the image vertically */
    margin: 0 auto;
}

.milestone-label {
    position: absolute;
    text-align: center;
    white-space: nowrap;
    font-size: 0.9rem;
    color: #ffffff;
}

.milestone-label h3 {
    color: #007bff;
    margin-bottom: -10px;
}

.milestone-label.above {
    bottom: 100%;
    margin-bottom: 36px;
}

.milestone-label.below {
    top: 100%;
    margin-top: 10px;
}

.milestone-line {
    width: 3px;
    height: 40px;
    background-color: #007bff;
    margin: 0 auto;
    z-index: -1;
}

.milestone-line.line-above {
    position: absolute;
    bottom: calc(50% + 20px); /* Touching the top edge of the progress bar */
}

.milestone-line.line-below {
    position: absolute;
    top: calc(50% + 1px); /* Touching the bottom edge of the progress bar */
}

.current-marketcap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #007bff solid 2px;
    width: 65%;
    margin: 0 auto; /* Centers the div horizontally */
}

.current-marketcap {
    font-size: 1.3rem;
    font-weight: bolder;
    color: #ff00c8bd;
}

/* Responsive styles */
@media (max-width: 768px) {
    .gems-container3 {
        width: 100%;
        min-height: 350px;
        padding: 15px;
    }
    
    .header {
        font-size: 2rem;
    }
    
    .current-marketcap-container {
        width: 100%;
    }
    
    .current-marketcap {
        font-size: 1rem;
    }
    
    .milestone-icon {
        width: 30px;
        height: 30px;
    }
    
    .milestone-label {
        font-size: 0.7rem;
    }
}
