@font-face {
  font-family: 'MyFont';
  src: url('../fonts/beachday.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFont', sans-serif;
}

/* src/styles/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #ffffff;
  min-height: 40px;
  background: linear-gradient(170deg, #fff, #0a599c, #0a599c);
  background-size: 600% 600%;
  animation: animatedBackground 10s ease infinite;
}

@keyframes animatedBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.logo {
  max-height: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  filter: drop-shadow(0 0 10px #ff0000); /* Green glow */
  font-family: 'MyFont';

}

.logo:hover {
  transform: scale(1.1);
}

.wallet-section {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .logo {
    max-height: 40px;
  }

}

