@font-face {
  font-family: 'MyFont';
  src: url('../fonts/beachday.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFont', sans-serif;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 1rem;
  border-bottom: 1px solid #ffffff;
  min-height: 40px;
  background: linear-gradient(170deg, #fff, #0a599c, #0a599c);
  background-size: 600% 600%;
  animation: animatedBackground 10s ease infinite;
}

@keyframes animatedBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.logo {
  font-family: 'MyFont';
  font-size: 50px;
  color: #0093fb;
  font-weight: normal;
  text-shadow:
    -2px -2px 0 rgb(0, 110, 255),
     2px -2px 0 rgb(0, 110, 255),
    -2px  2px 0 rgb(0, 110, 255),
     2px  2px 0 rgb(0, 110, 255);
  animation: pulse 2s infinite ease-in-out;
  cursor: pointer;
  background: none;
  border: none;
}

.logo:hover {
  transform: scale(1.1);
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%' x='50%' dominant-baseline='middle' text-anchor='middle'>✨</text></svg>"), auto;
  filter: drop-shadow(0 0 10px rgba(0, 147, 251, 0.8));
}

@keyframes pulse {
  0%, 100% {
    text-shadow:
      0 0 3px rgb(0, 110, 255),
      0 0 6px rgb(0, 110, 255),
      0 0 9px rgb(0, 110, 255),
      0 0 12px rgb(0, 110, 255),
      0 0 15px rgb(0, 110, 255);
  }
  50% {
    text-shadow:
      0 0 2px rgb(0, 110, 255),
      0 0 4px rgb(0, 110, 255),
      0 0 6px rgb(0, 110, 255),
      0 0 8px rgb(0, 110, 255),
      0 0 10px rgb(0, 110, 255);
  }
}

.wallet-section {
  display: flex;
  align-items: center;
  transform: scale(0.85);
  transform-origin: right center;
}

/* Dropdown Styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: none;
  border: none;
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #0a599c;
  min-width: 160px;
  z-index: 1000;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.3);
  border-radius: 8px;
}

.dropdown-content span {
  color: #fff;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
}

.dropdown-content span:hover {
  background-color: #0074cc;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 600px) {
  .logo {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
